// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
// $primary: #f5d95c;
// $primary: #ffd166;
$primary: #FF6059;
$secondary: #083bc8;
$primary-invert: findColorInvert($primary);
$warning